{
    "extends": "stylelint-config-recommended",
    "rules": {
      "indentation": [
        2
      ],
      "selector-pseudo-class-no-unknown": [true, {
        "ignorePseudoClasses": ["local"]
      }],
      "selector-pseudo-element-no-unknown": [true, {
        "ignorePseudoElements": ["local"]
      }]
    }
}
